---
- name: Get gameserver control scripts
  become: true
  become_user: '{{ lgsm_user }}'
  shell: "{{ lgsm_installdir }}/{{ lgsm_installer_name }} {{ lgsm_server }}"
  args:
    chdir: "{{ lgsm_installdir }}"
    creates: "{{ lgsm_installdir }}/{{ lgsm_server }}"

- name: Create instance config file
  template:
    src: instance.cfg.j2
    dest: "{{ lgsm_installdir }}/lgsm//config-lgsm/{{ lgsm_server }}/{{ lgsm_server}}.cfg"
    mode: '0644'
    owner: "{{ lgsm_user }}"
    group: "{{ lgsm_group }}"

- name: Install gameserver
  become: true
  become_user: '{{ lgsm_user }}'
  shell: "{{ lgsm_installdir }}/{{ lgsm_server }} auto-install"
  args:
    chdir: "{{ lgsm_installdir }}"
    creates: "{{ lgsm_installdir }}/serverfiles"
  when: lgsm_install_server

- name: Install gameserver systemd unit file
  template:
    src: systemd-unit.j2
    dest: "/etc/systemd/system/{{ lgsm_server }}.service"

- name: Enable and start gameserver systemd unit
  systemd:
    state: started
    enabled: yes
    name: "{{ lgsm_server }}"
    daemon_reload: yes
